<div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Listado de Atenciones por Fecha </h4>
</div>

<form class="form-horizontal"  [formGroup]="hisBusquedaForm" (submit)="Buscar()">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Fecha Aten.</label>
                    <input type="date" class="form-control"  
                    [(ngModel)]="fechaAtencion" 
                    placeholder="yyyy-mm-dd" formControlName="fechaAtencion">
                </div>
            </div> 
            <div class="col-md-8">
                <div class="form-group">
                    <label>Especialidad</label>
                <select class="form-control" formControlName="especialidad"
                    [(ngModel)]="selectedEspecialidad">
                    <option value="0">--TODOS--</option> 
                    <option *ngFor="let item of especialidades" [value]="item.idEspecialidad">{{item.nombreEspecialidad}}</option> 
                </select> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: right">
                <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div> 
        <div id="example_filter" class="dataTables_filter">
            <label>Buscar:<input style="width: 350px;" class="" 
                type="text" [(ngModel)]="textoBusqueda" (ngModelChange)="Search()"
                    name="firstName" placeholder=""></label>
        </div>
        <table class="table">
            <thead>
                <tr role="row">
                    <th (click)="sort('id')" class="sorting_desc" tabindex="0" rowspan="1" colspan="1"
                        style="width: 100px;" aria-label="Name: activate to sort column ascending"
                        aria-sort="descending"># &nbsp;<i class="fa fa-sort"></i></th>

                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 323px;"
                        aria-label="Position: activate to sort column ascending">MEDICO</th> 
                    <th (click)="sort('especialidad')" class="sorting_desc" tabindex="0" aria-controls="example23"
                        rowspan="1" colspan="1" style="width: 240px;">Especialidad&nbsp;<i class="fa fa-sort"></i>
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                        style="width: 127px;" aria-label="Salary: activate to sort column ascending">Fecha</th>
                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                        style="width: 140px;" aria-label="Salary: activate to sort column ascending">Hora</th>
                    <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                        style="width: 127px;" aria-label="Salary: activate to sort column ascending">Opciones</th> 
                    <th>Financiador </th>
                    <th>DX </th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pacientes of pacientes | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{ getGlobalIndex(i) }}</td>
                    <td>{{pacientes.paciente.persona.apellidoPaterno}}
                        {{pacientes.paciente.persona.apellidoMaterno}},
                        {{pacientes.paciente.persona.primerNombre}}
                        {{pacientes.paciente.persona.segundoNombre}}
                    </td>
                    <td>{{pacientes.paciente.numeroHC}}</td>
                    <td>{{pacientes.paciente.persona.sexo}}</td>
                    <td>{{pacientes.paciente.persona.etnia}}</td>
                    <td>{{pacientes.paciente.persona.edad}}</td>
                    <td>{{pacientes.episodio.tipoPaciente}}</td>
                    <td>I48X, E798
                    </td> 
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</form>
  